/* list
--------------------------------------------- */

#list {
  position: fixed;
  margin-left: -350px;
  width: 350px;
  border-right: 1px solid rgb(229, 233, 237);
  height: 100%;
}

#list-header {
  display: block;
  padding: 10px 10px 10px 14px;
  margin: 0 auto;
  border-bottom: 1px solid rgb(229, 233, 237);
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  label {
    color: rgb(52,52,52);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    font-weight: 500;
  }
  i {
    float: right;
    line-height: 20px;
    color: rgb(193, 193, 193);
    cursor: pointer;
  }
}

#list-group {
  position: absolute;
  overflow: auto;
  left: 0px;
  top: 40px;
  right: 0px;
  bottom: 95px;
  li {
    &:hover {
      background-color: #eee;
    }
    border-bottom: 1px solid rgb(229, 233, 237);
  }
}

.list-block {
  position: relative;
  height: 77px;
  cursor: pointer;

}
.list-block.selected {
  background-color: rgb(244, 244, 244);
}

.date {
  position: absolute;
  bottom: 16px;
  right: 12px;
}

.content {
  padding: 17px 12px;
  h5 {
    float: left;
    font-size: 1em;
    color: rgb(52,52,52);
    font-weight: 500;
    line-height: 7px;
  }
  i {
    float: right;
    color: rgb(193, 193, 193);
    margin: -4px -4px 0 0;
  }
}

.item {
  margin: 16px 12px 20px 12px;
  max-width: 270px;
  display: block;
}

.date > #list-date {
  float: right;
  font-size: 0.8em;
  font-weight: 500;
  color: rgb(117,117,117);
  margin: 0 -5px -6px 0;
}

.list-type {
  float: left;
}

.item-more {
  margin-top: 7px;
  float: right;
  margin-left: 8px;
  i {
    color: rgb(189, 189, 189);
  }
}

.list-type > .badge {
  margin-right: 8px;
  float: left;  
}

.badge {
  position: relative;
  top: -2px;
  padding: 5px 5px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 0.7em;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0;
  color: #fff;
  background: #aaa repeat-x 0 50%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.C_Cpp {
  background-color: #f34b7d;
}
.Coffee {
  background-color: #244776;
}
.CSharp {
  background-color: #5a25a2;
}
// bb92af
.CSS {
  background-color: #3581ba;
}

.golang {
  background-color: #8d04eb;
}
.HAML {
  background-color: #555;
}
.HTML {
  background-color: #db5855;
}
.Jade {
  background-color: #555;
}
.Java {
  background-color: #b07219;
}
.JavaScript {
  background-color: #f15501;
}
.JSON {
  background-color: #555;
}
.JSP {
  background-color: #555;
}
.LESS {
  background-color: #555;
}
.Lua {
  background-color: #fa1fa1;
}
.Markdown {
  background-color: #555;
}
.ObjectiveC {
  background-color: #ff0c5a;
}
.Perl {
  background-color: #0298c3;
}
.pgSQL {
  background-color: #555;
}
.PHP {
  background-color: #6e03c1;
}
.Python {
  background-color: #3581ba;
}
.R {
  background-color: #198ce7;
}
.RDoc {
  background-color: #555;
}
.RHTML {
  background-color: #db5855;
}
.Ruby {
  background-color: #701516;
}
.Scala {
  background-color: #7dd3b0;
}
.SCSS {
  background-color: #555;
}
.SH {
  background-color: #5861ce;
}
.SQL {
  background-color: #82937f;
}
.SVG {
  background-color: #555;
}
.Text {
  background-color: #82937f;
}
.XML {
  background-color: #555;
}
.YAML {
  background-color: #555;
}

.list-footer {
  position: fixed;
  width: 320px;
  bottom: 0px;
  border-top: 1px solid rgb(229, 233, 237);
  padding: 10px 15px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07) inset;
}

#sidebar-folding {
  font-size: 1.2em;
  color: rgb(87, 87, 87);
  margin-right: 12px;
  cursor: pointer;
}

#snippet-order {
  padding: 0.2em 0.8em;
  font-size: 0.9em;
  i {
    margin-left: 5px;
    float: right;
  }
}

#list-count {
  float: right;
  &.cnt-badge {
    display: inline-block;
    min-width: 10px;
    padding: 2px 8px;
    padding-right: 9px;
    padding-left: 9px;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: rgb(173, 173, 173);
    border-radius: 9px;
  }
}
