<div id="wrap">
	

	<div id="header-region" class="group">
		<div id="header-inner" class="">
			<div id="logo">
				<a href="" id="logo-text">Codes</a>
			</div>
			<div id="search">
				<form id="search-form">
					<input id="search-input" type="text" placeholder="Search">
				</form>
			</div>
			<ul id="nav">
				<li>
					<span class="icon-user">Lee Hanguk</span>
				</li>
				<li>
					<span class="icon-cog"></span>
				</li>
				<li>
					<span class="icon-plus"></span>
				</li>
			</ul>
		</div>
	</div>	<div id="main-region">
	<div id="box-region">
		<div id="sidebar">
			<div id="category-region">

			</div>
			<div id="tag-region">

			</div>
		</div>
		<div id="list">
			<div id="center-region">

			</div>
		</div>
		<div id="detail">
			<div id="detail-region">
				<div id="detail-header">
					<!-- <div>
						날짜
					</div> -->
					<div id="detail-title">
						<!-- <label><input type="" placeholder="Title"></label> -->
					</div>
					<!-- <i id="snippet-delete" class="icon-trash"></i> -->
					<div id="detail-tag">
						<i class="icon-tag tag"></i>
						<span></span>
						<div id="tag-item">

						</div>
					</div>
					<div id="detail-memo">
						<i class="icon-file-text"></i>
						<!-- <span>Memo</span> -->
						<div id="memo-block">
							<!-- <textarea rows="1"></textarea> -->
						</div>
					</div>
				</div>
				<div id="asset-header">

				</div>
			</div>
		</div>
	</div>
</div>
</div>


<div id="footer-region"></div>

<%= javascript_tag do %>
$(function() {
Codes.start({
environment: "<%= Rails.env %>"
});
});

<% end %>
