<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Codes</title>
	<!-- <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.1/pure-nr-min.css"> -->
	<link rel="stylesheet" href="css/style2.css">

	<link rel="stylesheet" href="font-awesome 2/css/font-awesome.min.css">

	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div id="header-region" class="group">
		<div id="header-inner" class="">
			<div id="logo">
				<a href="" id="logo-text">Codes</a>
			</div>
			<div id="search">
				<form id="search-form" class="pure-form">
					<input id="search-input" type="text" placeholder="Search">
				</form>
			</div>
			<ul id="nav">
				<li>
					<span class="icon-user">Lee Hanguk</span>
				</li>
				<li>
					<span class="icon-cog"></span>
				</li>
				<li>
					<span class="icon-plus"></span>
				</li>
			</ul>
		</div>
	</div>
	<div id="box-region"class="puer-g">
		<div id="sidebar" class="puer-u">
			<div id="category-region">
				<div id="category-header" class="sidebar-header tree-toggle">
					<label>Category</label>
					<i class="icon-plus"></i>
				</div>
				<ul id="category-list" class="sidebar-list tree">
					<li id="category-all">			
						<div class="category-item">
							<i class="left-item icon-inbox"></i>
							<label>All snippets</label>
							<div class="right-item pull-right">
								<span class="badge">15</span>
								<i class="context-item icon-ellipsis-horizontal"></i>							
							</div>
						</div>
					</li>
					<li >
						<div class="category-item selected">
							<i class="left-item icon-folder-open-alt tree-toggle"></i>
							<label> Bootstrap</label>

							<div class="right-item pull-right">
								<span class="badge">0</span>
								<i class="context-item icon-ellipsis-horizontal"></i>
							</div>
						</div>
						<ul class="tab tree">
							<li>
								<div class="category-item">
									<label>JavaScript</label>
									<div class="right-item pull-right">
										<span class="badge">10</span>
										<i class="context-item icon-ellipsis-horizontal"></i>
									</div>			
								</div>
							</li>
							<li>
								<div class="category-item">
									<label>CSS</label>
									<div class="right-item pull-right">
										<span class="badge">0</span>
										<i class="context-item icon-ellipsis-horizontal"></i>
									</div>
								</div>
							</li>
						</ul>
					</li>
					<li>
						<div class="category-item">
							<i class="left-item icon-folder-close-alt"></i>
							<label> PHP</label>
							
							<div class="right-item pull-right">
								<span class="badge">5</span>
								<i class="context-item icon-ellipsis-horizontal"></i>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div id="tag-region">
				<div id="tag-header" class="sidebar-header tree-toggle">
					<label>Tag</label>
					<i class="icon-plus"></i>
				</div>
				<ul id="tag-list" class="sidebar-list tree">
					<li>						
						<div class="tag-item">
							<i class="icon-tag"></i>
							<label>CCDirector</label>
							<div class="right-item pull-right">
								<span class="badge">0</span>
								<i class="context-item icon-ellipsis-horizontal"></i>
							</div>
						</div>
					</li>
					<li>					
						<div class="tag-item">
							<i class="icon-tags"></i>		
							<label>RESTFul</label>
							<div class="right-item pull-right">
								<span class="badge">0</span>
								<i class="context-item icon-ellipsis-horizontal"></i>
							</div>
						</div>
					</li>

					<li>					
						<div class="tag-item">
							<i class="icon-tags"></i>		
							<label>RFID</label>
							<div class="right-item pull-right">
								<span class="badge">2</span>
								<i class="context-item icon-ellipsis-horizontal"></i>
							</div>				
						</div>
					</li>
					<li>					
						<div class="tag-item">
							<i class="icon-tag"></i>		
							<label>GOTO</label>
							<div class="right-item pull-right">
								<span class="badge">1</span>
								<i class="context-item icon-ellipsis-horizontal"></i>
							</div>
						</div>
					</li>
					<li>					
						<div class="tag-item">
							<i class="icon-tag"></i>		
							<label>FOREACH</label>
							<div class="right-item pull-right">
								<span class="badge">0</span>
								<i class="context-item icon-ellipsis-horizontal"></i>
							</div>
						</div>
					</li>											
				</ul>
			</div>
		</div>
		<div id="list" class="pure-u">
			<div id="list-header">
                <label>All snippets</label>
				<i class="icon-plus"></i>
            </div>
            <ul id="list-group">
            	<li>
            		<div class="content">
            			<h5>[HTTP] Method - Get, Post, Delete</h5>
            			<i class="icon-star"></i>
            		</div>
            		<div class="item">
	            		<span class="badge blue">HTML</span>
	            		<span class="badge red">Javascript</span>
	                    <span id="list-date">Aug 15</span>
                    <div></div>
            	</li>
            	<li>
            		<div class="content">
            			<h5>[HTTP] Method - Get, Post, Delete</h5>
            		</div>
            		<div class="item">
	            		<span class="badge green">HTML</span>
	            		<span class="badge red">Javascript</span>
	                    <span id="list-date">Aug 15</span>
	                </div>
            	</li>
            </ul>
            <div class="list-footer">
                <i id="sidebar-folding" class="icon-chevron-sign-left"></i>
                <button id="snippet-order" class="pure-button pure-button-active"><i class="icon-caret-up"></i>TITLE</button>
                <span id="list-count" class="cnt-badge">5</span>
            </div>
		</div>
		<div id="detail" class="pure-u"></div>
	</div>

	<!-- script -->	
	<script src="js/jquery-1.7.2.min.js"></script>
	<script>
	$('.category-item').click(function (e) {
		e.preventDefault();
		console.log("Item Click");
	});
	// $('.category-item .left-item').click(function (e) {
	// 	e.stopPropagation();
	// 	console.log("Folder Click");
	// });
	$('.category-item .context-item').click(function (e) {
		e.stopPropagation();
		console.log("Context Click");
	});	
	$('.tag-item').click(function (e) {
		e.preventDefault();
		console.log("Item Click");
	});

	$('.tag-item .right-item').click(function (e) {
		e.stopPropagation();
		console.log("Context Click");
	});		
	$('.tree-toggle').click(function () {
		$(this).parent().parent().children('.tree').toggle(200);
	});

	</script>
</body>
</html>